body{
    background-image: url('../images/background.png');
    font-size: 8pt;
    font-family: Verdana, Tahoma, serif;
}
.headertext{
    font: bold 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}
.heading{
    background-image: url('../images/bannerbg.png');
    background-repeat: repeat-x;
    height: 50px;
}
.align-center{
      text-align: center;
  }
.content-area{
    width: 800px;
    border: 4px solid gray;
    border-radius: 20px;
    margin: 0 auto;
    overflow: auto;
}
.column{
    float: left;
    width: 550px;
}
.reviewHeader{
    background-image: url('../images/rbg.png');
    height: 84px;
    margin-bottom: 5px;    
    font-size: 48pt;
    color: red;
    font-weight: bold;

}
.reviewHeader span{
    vertical-align: super;
}
.reviewHeader img{
    vertical-align: super;
    border-radius: 15px 0 0 0;
}
.reviewHeader span{
    padding: 10px;
}
#reviews {
    float: left;
    width: 550px;
      
}

#review-header {
    background-image: url('../images/rbg.png');
    height: 83px;
    width: 100%;
    font-size: 48pt;
    color: red;
    font-weight: bold;
    border-radius: 15px 0 0 0;
}

#review-header img{
    vertical-align: sub;
    border-radius: 15px 0 0 0;
}
.sidebar{
        float:right;
        width: 250px;
        background-color:#A2B964;
        font-size: 8pt;
        font-family: Arial, sans-serif;
}
.sidebar div img{
    border-radius: 0 15px 0 0;
}
.sidebar   dl{
    padding: 0 10px 0 10pt;
}

.sidebar dl dt{
    font-weight: bold;
    padding-top: 10pt;
}

.sidebar dt, #sidebar dd{
    font-size: 8pt;
    font-family: Arial, sans-serif;
}
p.postedBy img{
    float: left;
    margin-right: 5px;    
}
.quote{
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-left, .float-right{    
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 47%;
}
.quote-img{
    margin-right: 5px;
}

.reviews-bar{
    clear: both;
    text-align: center;
    background-color: #A2B964;
    border-radius: 0 0 15px 15px;
    padding: 1px;
}
footer{
    float: right;
}