body{
    font-family: Georgia, Garamond, serif;
    color: #404040;
    font-size: 11pt;
    /*background-image: url('../images/silverware.jpg');*/
}
a{
    color: #A4A400;
}
footer{
    float: right;
    font-family: 'Courier New', Courier, monospace;
}
blockquote {
    font-style: italic;
    background-color: #FFFFA8;
}
ul.disc-none{
    list-style: none;
}

.mainHeading{
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font: 22pt;
    text-align: center;
    font-weight: 500;
}
.heading{
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-size: 18pt;
}
.line-thru{
    text-decoration: line-through;
}